* {
    box-sizing: border-box;
    margin: 0rem;
  }
  
  html{
    background-color: #23252C;
  }

  body {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-size: 12px;
  }

  p{
    color: #DCDCDC;
  }

  h1,h2{
    color: #fff;
    padding-bottom: 0.5rem;
  }

  h4{
    color:#00C6C0;
  }

  .content{
    display: flex;
    flex-direction: column; 
    width: inherit;
    padding: 1rem 1.2rem;
    background-color: #1A1B21;
  }
  .intrd{
    align-items: center; 
  }

  .button{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 7.18rem;
    width: 100%;
    background-color: #fff;
    margin-top: 1rem;
    padding: 0.8rem;
  }


  .button > img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;

  }

  .intrd-buttons{
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  /*container*/
  .container{
    max-width: 19.81rem;
    min-width: 19.81rem;
    margin: auto;
  
  }

  .logo{
    max-width: 19.81rem;
    min-width: 19.81rem;
    height: 15rem;
    
  }

  .media{
    background-color: #161619;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0rem;
  }

  .media > svg :hover{
    fill: #00C6C0;
  }

  .button:hover{
    background-color: #00C6C0;
  }

 h2:hover{
   color:#00C6C0;
  }
  h1:hover{
    color:#00C6C0;
   }

